apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/static-secret.yaml

helmCharts:
  - name: vault-secrets-operator
    version: "1.0.1"
    repo: "https://helm.releases.hashicorp.com"
    releaseName: "vault-secrets-operator"
    namespace: vault
    valuesFile: "helm/values.yaml"
