apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/ingress.yaml

helmCharts:
  - name: vault
    version: "0.31.0"
    repo: "https://helm.releases.hashicorp.com"
    releaseName: "vault"
    namespace: vault
    valuesFile: "helm/vault.values.yaml"
  - name: vault-config-operator
    version: "1.0.1"
    repo: "https://redhat-cop.github.io/vault-config-operator"
    releaseName: "vault-config-operator"
    namespace: vault
    valuesFile: "helm/vault-secrets-operator.values.yaml"
    includeCRDs: true
